"*":
  Zen:
    fullscreen: false
    softWrap: true
    width: 70
  "autocomplete-plus":
    autoActivationDelay: 200
  "autocomplete-python":
    fuzzyMatcher: false
    showDescriptions: false
    triggerCompletionRegex: "([a-zA-Z_][a-zA-Z0-9_]+)"
    useKite: false
  "autohide-tree-view":
    animationSpeed: 100
    showPinButton: false
  core:
    audioBeep: false
    disabledPackages: [
      "language-ruby-on-rails"
      "language-objective-c"
      "language-mustache"
      "language-csharp"
      "language-clojure"
      "language-c"
      "welcome"
      "metrics"
      "language-python"
      "spell-check"
      "background-tips"
      "autocomplete-snippets"
      "react"
      "language-babel"
      "keybinding-resolver"
      "linter-eslint"
      "linter-golinter"
      "wrap-guide"
      "busy-signal"
      "minimap-autohide"
      "minimap"
      "status-bar"
    ]
    ignoredNames: [
      ".idea"
      ".git"
      ".hg"
      ".svn"
      ".cache"
      ".bundle"
      "*.orig"
      "*.pyc"
      "*.egg-info"
      "__pycache__"
      "node_modules"
      "bower_components"
      ".DS_Store"
      ".venv"
      ".coverage"
      "celerybeat-schedule"
      "vendor"
      "htmlcov"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  "duotone-light-syntax":
    color:
      uno: "#98a75e"
  editor:
    fontFamily: "PragmataPro Mono"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.4
    scrollPastEnd: true
    scrollSensitivity: 45
    showInvisibles: true
  emmet:
    extensionsPath: "~/.dotfiles/emmet"
    stylus:
      autoInsertVendorPrefixes: false
      valueSeparator: ": "
  "exception-reporting":
    userId: "f97c5b89-0f81-089d-a5ba-144a2164b68d"
  "file-icons":
    tabPaneIcon: false
  "foldingtext-for-atom":
    disableAnimation: true
  "fuzzy-finder": {}
  "git-diff": {}
  "highlight-selected": {}
  "indentation-indicator":
    indicatorPosition: "right"
  "isotope-light-ui": {}
  "isotope-ui":
    minimalMode: true
  jekyll: {}
  "language-babel":
    babelMapsAddUrl: false
    transpileOnSave: false
  linter: {}
  "linter-eslint": {}
  "linter-flake8":
    flakeErrors: true
    hangClosing: true
    ignoreErrorCodes: [
      "E128"
      "E133"
      "E501"
      "E402"
      "E731"
      "F405"
    ]
  "linter-golinter": {}
  "linter-ui-default":
    decorateOnTreeView: "None"
    showStatusBar: false
    statusBarClickBehavior: "Jump to next issue"
    tooltipFollows: "Keyboard"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    siteEngine: "jekyll"
  minimap:
    absoluteMode: true
    displayPluginsControls: false
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments: {}
  "python-indent": {}
  react: {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    showIcons: false
  tasks: {}
  "tree-view":
    displayVcsStatus: false
    focusOnReveal: false
    hideIgnoredNames: true
  "unity-ui": {}
  wakatime:
    apikey: "198f9bf9-0c79-4117-a65b-e9ce20ac8aaf"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".apib.gfm.html.markdown.source.text":
  editor:
    showIndentGuide: false
    showInvisibles: true
".basic.html.text":
  editor:
    softWrap: true
".gfm.source":
  editor:
    showInvisibles: false
    softWrapAtPreferredLineLength: true
".go.source":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
".makefile.source":
  editor:
    tabLength: 4
".plain.text":
  editor:
    softWrap: true
    tabLength: 4
".restructuredtext.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".restructuredtext.text source.gfm.restructuredtext":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
".source.sql":
  editor:
    tabLength: 4
