.tab-bar .tab::before,
.tree-view::before {
  // disable blue line on tabs
  content: none;
  transition: none;
}

.tab-bar .tab::after {
  // fix tab borders (outline artifact)
  transition: none;
  left: -0.5px;
}

.autocomplete-suggestion-list {
  // small font size in autocomplete
  font-size: 0.8em;
}

.platform-darwin {
   // pull left close button on darwin machines
  .tab-bar .tab .close-icon {
    left: 0;
    right: auto !important;
    transition: none;
  }
  .tab-bar .tab:hover .title,
  .tab-bar .tab.modified .title {
    -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0), #000000 1em) no-repeat;
    -webkit-mask-position: 1em 0;
  }
}

atom-text-editor::shadow {
  // change highlight colors
  .bracket-matcher .region {
    position: absolute;
    border: 1px solid rgba(82, 139, 255, 0.3);
    background-color: rgba(82, 139, 255, 0.2);
    border-radius: 2px;
  }
  .highlights .highlight-selected .region {
    border: 1px solid rgba(82, 139, 255, 0.3);
    background-color: rgba(82, 139, 255, 0.1);
    border-radius: 2px;
  }

  // minimize line gutter width
  .gutter .line-number {
    padding-left: 1em;
    padding-right: 0.5em;
  }
  .gutter .line-number.git-line-added,
  .gutter .line-number.git-line-modified {
    padding-left: ~"calc(1em - 2px)";
  }
  .gutter .line-number .icon-right {
    display: none;
  }
}

.status-bar {
  // small status bar
  height: 2.2em;
  line-height: 2.2em;
}

linter-bottom-status {
  // remove margin in linter status
  margin-left: 0;
}
